<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Publishing house:</strong>
  <%= @book.publishing_house %>
</p>

<p>
  <strong>Link:</strong>
  <%= @book.link %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Writer:</strong>
  <%=link_to  @book.writer.name , writer_path(@book.writer) %>
</p>
<h4>Rating:</h4>
<%= render 'votes/form' %>

<br><br>
<h1>Comments</h1>
<% @book.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <% if current_user == comment.user %>
        <small><%= link_to "Delete", book_comment_path(@book, comment), method: :delete %></small>
    <% end %>
<% end %>

<h1>Write a comment</h1>
<%= form_for [@book, @book.comments.build] do |f| %>
  <%= f.text_area :body, rows: 5 %><br>
  <%= f.submit 'Send' %>
<% end %>

<b>Tags: </b><%= @book.tags.collect {|x| x.name }.join(", ")%> <br/>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
